<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stessier.ihabit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".DaysHabitCompletedActivity" />
        <activity android:name=".ShowCompleteActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".ManageHabitsActivity" />
        <activity android:name=".RecordHabitActivity" />
        <activity android:name=".NewHabitActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>